.breadcrumbs {
  display: flex;
}

.breadcrumbs__list{
  display: flex;
}

.breadcrumbs__item{
  display: flex;
  align-items: center;
  color: #9A9A9A;
  font-size: 17.9775px;
  line-height: 30px;
}

.breadcrumbs__item:after{
  content: "/";
  margin-left: 5px;
  margin-right: 5px;
  color: #9A9A9A;
}

.breadcrumbs__item:last-child:after{
  display: none;
}

.breadcrumbs__item--active{
  text-decoration-line: underline;
  font-style: normal;
  font-weight: 700;
}
