/*Нижнее меню*/
.footer{
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__menu{
  justify-content: center;
}

.services__footer{
  background: #17191C;

}