/*Пагинатор*/

.paginator{
  text-align: center;
}

.paginator__list,.paginator__text{
  display: inline-flex;
  line-height: 20px;
}

.paginator__text{
  margin-right: 24px;
}

.paginator__item{
  display: inline-flex;
}

.paginator__item--active .paginator__link{
  background-color:  #FF5500;
  color: #FFFFFF;
}

.paginator__link{
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: 700;
  line-height: 32px;
}

.paginator__link:hover{
  color: #FFFFFF;;
  background-color:  #FF5500;
}

/*Страница услуги*/
.service__paginator{
  color: black;
  align-self: center;
}
